<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1>Welcome to admin page</h1>
<form action="adminPage" method="post">

    <label for="leanguage">Leanguage</label>
    <input type="text" id="leanguage" name="leanguage" />
    <br/>
    <br/>

    <label for="helloWorld">Hello World</label>
    <input type="text" id="helloWorld" name="helloWorld"/>
    <br/>
    <input type="submit" value="Submit"/>

</form>
</body>
</html>